<form asp-action="Create" method="post">
    <label>Okres wypożyczenia</label>
    <select name="RentalPeriod" class="form-control">
        <option value="1">1 dzień</option>
        <option value="7">1 tydzień</option>
        <option value="30">1 miesiąc</option>
    </select>

    <button type="submit" class="btn btn-primary mt-2">Wypożycz</button>
</form>